<h1>Stats</h1>

<style>

body {
  font: 10px sans-serif;
}

.bar {
  fill: lightgreen;
}

.bar:hover {
  fill: rgba(0,255,0,1);
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

</style>

<script>

var margin = {top: 20, right: 20, bottom: 30, left: 40},
    width = 1400 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var x = d3.scale.ordinal()
    .rangeRoundBands([0, width], .075);

var y = d3.scale.linear()
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");

var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

// data = [{
// 	fahrenheit: 500,
// 	date: 1
// },
// {
// 	fahrenheit: 700,
// 	date: 2
// }]

// data.forEach(function(d) {
// 	  d.date = d.date;
// 	  d.close = +d.fahrenheit;
// 	});

var temperatures = [];
var yes = true;
var getTemperatures = function() {
	$.ajax({
	  type: "GET",
	  url: "/api/v1/temperatures",
	  dataType: "json",
	  success: function(response) {
	    console.log(response);
	    temperatures = response.temperatures;
	    // temperatures.unshift({
	    // 	fahrenheit: 70
	    // },
	    // {
	    // 	fahrenheit: 110
	    // })
	    lala();
	    yes = false;
	  }
	});
}


var updateTemperatures = function() {
	getTemperatures();

	setTimeout(function() {
		updateTemperatures();
	}, 500);
}

getTemperatures();
updateTemperatures();

var lala = function(){
	var data = temperatures;
	var i = 1;

	data.forEach(function(d) {
	  d.letter = i;
	  d.frequency = +d.fahrenheit;
	  i = i + 100;
	});

	if(yes) {
		x.domain(data.map(function(d) { return d.letter; }));
  y.domain([0, d3.max(data, function(d) { return d.frequency; })]);

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Temperature (F)");

  svg.selectAll(".bar")
      .data(data)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x(d.letter); })
      .attr("width", x.rangeBand())
      .attr("y", function(d) { return y(d.frequency); })
      .attr("height", function(d) { return height - y(d.frequency); });

	}
	else {
		console.log("hi");
		svg.selectAll(".bar").remove();
		svg.selectAll(".bar")
      .data(data)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x(d.letter); })
      .attr("width", x.rangeBand())
      .attr("y", function(d) { return y(d.frequency); })
      .attr("height", function(d) { return height - y(d.frequency); });
	}
	
}

</script>

<script type="text/javascript">

</script>